In [17]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio

In [18]:
pio.renderers.default = "notebook_connected"

## Cargar datos

In [19]:
ruta = r"../data/processed/superstore_clean.csv"

In [20]:
superstore = pd.read_csv(ruta)
superstore.head()

,Order_Date,Cod_Anio,Cod_Mes,Cod_Dia,Nom_Mes,Nom_Dia,Category,Sub_Category,Region,State,City,Sales,Profit,Quantity,Discount
0,2014-03-01,2014,3,1,Marzo,Sã¡bado,OFFICE SUPPLIES,PAPER,CENTRAL,TEXAS,HOUSTON,16.448,5.5512,2,0.2
1,2014-06-01,2014,6,1,Junio,Domingo,OFFICE SUPPLIES,ART,SOUTH,GEORGIA,ATHENS,12.780,5.2398,3,0.0
2,2014-04-01,2014,4,1,Abril,Martes,OFFICE SUPPLIES,LABELS,CENTRAL,ILLINOIS,NAPERVILLE,11.784,4.2717,3,0.2
3,2014-04-01,2014,4,1,Abril,Martes,OFFICE SUPPLIES,STORAGE,CENTRAL,ILLINOIS,NAPERVILLE,272.736,-64.7748,3,0.2
4,2014-04-01,2014,4,1,Abril,Martes,OFFICE SUPPLIES,BINDERS,CENTRAL,ILLINOIS,NAPERVILLE,3.540,-5.4870,2,0.8

In [21]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_Date    4042 non-null   object
 1   Cod_Anio      4042 non-null   int64
 2   Cod_Mes       4042 non-null   int64
 3   Cod_Dia       4042 non-null   int64
 4   Nom_Mes       4042 non-null   object
 5   Nom_Dia       4042 non-null   object
 6   Category      4042 non-null   object
 7   Sub_Category  4042 non-null   object
 8   Region        4042 non-null   object
 9   State         4042 non-null   object
 10  City          4042 non-null   object
 11  Sales         4042 non-null   float64
 12  Profit        4042 non-null   float64
 13  Quantity      4042 non-null   int64
 14  Discount      4042 non-null   float64
dtypes: float64(3), int64(4), object(8)
memory usage: 473.8+ KB